################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleCrud/SimpleCrud/obj

/SimpleCrud/SimpleCrud/bin
